@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply h-full overflow-x-hidden antialiased text-gray-900 bg-white font-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply antialiased font-semibold;
  }

  p {
    @apply text-gray-500;
  }

  .btn-primary {
    @apply inline-flex items-center justify-center px-4 py-3 font-bold text-white bg-blue-600 rounded-lg hover:opacity-90;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center px-4 py-3 font-medium text-gray-700 bg-white border border-gray-200 rounded-lg hover:bg-gray-50;
  }

  .pale-gradient {
    background: linear-gradient(
      180deg,
      rgba(249, 250, 251, 0) 0%,
      #f9fafb 100%
    );
  }
  .pale-gradient-left {
    background: linear-gradient(270deg, rgba(249, 250, 251, 0) 80%, white 100%);
  }

  .pale-gradient-bottom {
    background: linear-gradient(180deg, rgba(249, 250, 251, 0) 80%, white 100%);
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-blue-600;
  }

  .react-tooltip h5 {
    @apply mb-2 font-bold;
  }
}

@layer components {
  .carousel-main .slick-slider {
    @apply shadow-inner;
  }

  .custom-progress-circular svg {
    .CircularProgressbar-trail {
      @apply stroke-blue-50;
    }
    .CircularProgressbar-path {
      @apply stroke-blue-500;
    }
  }
}
