@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply h-full overflow-x-hidden overflow-y-scroll antialiased text-gray-900 bg-white font-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply antialiased font-semibold;
  }

  p {
    @apply text-gray-500;
  }

  .btn-primary {
    @apply inline-flex items-center justify-center px-4 py-3 font-bold text-white bg-azul rounded-lg hover:opacity-90 disabled:opacity-50 disabled:pointer-events-none;
  }

  .PhoneInput > input {
    display: flex !important;
    border-radius: 5px !important;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center px-4 py-3 font-medium text-gray-700 bg-white rounded-lg hover:bg-gray-50 disabled:bg-slate-300 disabled:opacity-50 disabled:pointer-events-none;
  }

  .spinner-small {
    @apply block w-4 h-4 mx-2 ease-linear border-2 border-t-2 border-transparent rounded-full border-t-white;
    animation: spinner 1s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .user-overview-gradient {
    background: linear-gradient(
      180deg,
      rgba(21, 21, 21, 0) 75.64%,
      #151515 100%
    );
  }

  .pale-gradient {
    background: linear-gradient(
      180deg,
      rgba(249, 250, 251, 0) 0%,
      #f9fafb 100%
    );
  }
  .pale-gradient-left {
    background: linear-gradient(270deg, rgba(249, 250, 251, 0) 80%, white 100%);
  }

  .pale-gradient-bottom {
    background: linear-gradient(180deg, rgba(249, 250, 251, 0) 80%, white 100%);
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-blue-600;
  }

  .react-tooltip h5 {
    @apply mb-2 font-bold;
  }

  .progress-bar-wrapper > div:first-of-type {
    @apply overflow-hidden;
  }

  .progress-bar-wrapper div div {
    @apply !bg-blue-600;
  }

  .pagination-wrapper {
    ul.pagination {
      @apply flex justify-center;
    }
    li {
      @apply inline-flex items-center text-sm font-medium text-gray-500 border-t-2 border-transparent hover:border-gray-300 hover:text-gray-700;
      &.active {
        @apply text-blue-500 border-blue-300;
      }
    }
    a {
      @apply px-4 py-2 cursor-pointer;
    }

    .next,
    .previous {
      @apply hover:border-transparent;
    }

    .next.disabled,
    .previous.disabled {
      @apply text-gray-300 cursor-default hover:border-transparent;
    }
  }
}

@layer components {
  /* .carousel-main .slick-slider {
    @apply shadow-inner;
  } */

  .custom-progress-circular svg {
    .CircularProgressbar-trail {
      @apply stroke-blue-50;
    }
    .CircularProgressbar-path {
      @apply stroke-blue-500;
    }
  }

  .bg-login-carousel-card {
    @apply relative px-6 py-8 text-white bg-black border border-transparent border-solid shadow-2xl bg-opacity-60 backdrop-blur-lg rounded-xl content-none before:absolute before:top-0 before:inset-0 before:-z-10;
    background-clip: padding-box;
    &:before {
      border-radius: inherit;
      background: linear-gradient(
        0deg,
        rgba(28, 56, 115, 0.1) 20%,
        rgba(28, 56, 115, 0.5) 100%
      );
      margin: -1px;
    }
  }
}

.directbox-send {
  filter: drop-shadow(0px 6px 6px rgba(239, 68, 68, 0.3));
}

.direct-inbox {
  filter: drop-shadow(0px 6px 6px rgba(59, 130, 246, 0.3));
}

.directbox-container {
  background: linear-gradient(
    269.84deg,
    rgba(67, 46, 230, 0.1) 0.08%,
    rgba(58, 144, 230, 0.1) 100%
  );
}

.diamondicon-filter {
  filter: drop-shadow(0px 6px 6px rgba(79, 70, 229, 0.3));
}

.nc-footer {
  @apply hidden;
}

.nc-layout-wrapper {
  @apply font-base;
}

.nc-preferences-root {
  @apply !font-base;
}

.nc-preferences-item-title {
  @apply font-base text-bluewood;
}

.nc-preferences-item-channels {
  @apply font-base text-mist;
}

.nc-preferences-channel-label {
  @apply font-base text-mist;
}

.nc-header-title {
  @apply text-mirage;
}

.nc-header-mark-as-read {
  @apply text-mist;
}

.nc-notifications-list-item {
  @apply bg-vista-white;
}

.nc-notifications-list-item-title {
  @apply text-bluewood;
}

.nc-notifications-list-item-timestamp {
  @apply !text-mist;
}

.nc-notifications-list-item::before {
  @apply bg-gradient-to-t from-blue-700 to-blue-400;
}

.mantine-1tngfw:checked ~ label {
  @apply !bg-blue-600;
}

/* otp css */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badges > * {
  margin-right: 8px;
}

.container {
  @apply py-10;
}

.input {
  width: 45px;
  height: 45px;
  padding: 0;
  font-size: 24px;
  text-align: center;
  margin-right: 12px;
  text-transform: uppercase;
  color: #494949;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: #fff;
  background-clip: padding-box;
}
@media only screen and (max-width: 500px) {
  .input {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .container {
    @apply py-5;
  }
}

.props {
  border: 1px solid #d6d6d6;
  padding: 8px 16px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allowed-characters {
  text-align: left;
}

/* otp css */

@media screen and (max-width: 450px) {
  .mantine-14tgpg6 {
    @apply !left-0.5;
  }
}
