.base {
  @apply relative block;
}

.arrow {
  @apply absolute left-0 border border-gray-300 rounded-full -bottom-20 w-14 h-14;

  display: none !important;

  @media screen(md) {
    display: block !important;
  }

  svg {
    @apply inline;
  }
}

.arrowPrev {
  transform: translateX(30px);
}

.arrowNext {
  transform: translateX(100px);
}

.arrowDisabled {
  @apply text-gray-400 border-gray-500;
}
